//containers and styles-containers

#btn-style-container01 {
  padding: 15px 35px;
  border: 2px solid white;
}
.container01 {
  background-image: url("../home/01.jpg");
}
.ArrowDown-container01 {
  width: 90px;
  margin-top: 5px;
}
.container02 {
  background-image: url("../home/03.jpg");
}
.container03 {
  background-image: url("../home/02.gif");
}
.titlePadding-breaking-container03 {
  width: 50vw;
}
.container04 {
  background-image: url("../home/04.jpg");
}
.titlePadding-breaking-container04 {
  width: 60vw;
}

.titlePadding {
  padding-top: 200px;
  color: white;
}
